<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="webedit:customeditrenderingproperties" type="Foundation.ExperienceEditor.Commands.EditRenderingPropertiesCommand, Foundation.ExperienceEditor" />
      <command name="webedit:customeditdatasourcefields" type="Foundation.ExperienceEditor.Commands.EditFieldsCommand, Foundation.ExperienceEditor" />
    </commands>
  </sitecore>
</configuration>
